<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <nwt_billmate>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <default_country>SE</default_country>
                <default_postcode>100 12</default_postcode>
            </nwt_billmate>
        </payment>
    </default>
</config>
