.billmate-checkout-index {
    .cart-container {
        .form-cart {
            width: 100%;
            float: none;
            padding: 0;
            @include breakpoint('mobile') {
                margin: 0;
            }
        }
        & > *:not(.page-title-wrapper) {
            border: 1px solid $border-color;
            border-radius: 10px;
            box-shadow: $box-shadow;
            margin-bottom: 60px;
            padding: 60px 90px;
            @include breakpoint('(max-width: 1060px)') {
                padding: 45px;
            }
            @include breakpoint('small') {
                padding: 40px 20px;
            }
            @include breakpoint('mobile') {
                padding: 30px 15px;
                margin-bottom: 30px;
            }
        }
        .billmate-checkout-sidebar {
            overflow: hidden;
            position: relative;
            padding-bottom: 110px;
            @include breakpoint('large') {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    background: $border-color-1;
                    width: calc(100% - 180px);
                    bottom: 110px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    @include breakpoint('(max-width: 1060px)') {
                        width: calc(100% - 90px);
                    }
                    @include breakpoint('small') {
                        width: calc(100% - 40px);
                    }
                    @include breakpoint('mobile') {
                        width: calc(100% - 30px);
                    }
                }
                &:after {
                    bottom: 65px;
                }
            }
            @include breakpoint('(max-width: 1060px)') {
                padding-bottom: 110px;
            }
            @include breakpoint('small') {
                padding-bottom: 110px;
            }
            @include breakpoint('mobile') {
                display: flex;
                flex-direction: column;
            }
        }
    }
    #billmateCheckoutIframe {
        width: 100%;
        border: 0;
        outline: 0;
        padding-top: 15px;
        @include breakpoint('(max-width: 320px)') {
            min-height: 870px !important;
        }
    }
    .page-title-wrapper {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .page-title {
        padding-bottom: 5px;
        @include breakpoint('mobile') {
            padding-bottom: 15px;
        }
    }
    .page-main {
        padding-top: 60px;
        @include breakpoint('mobile') {
            padding-top: 15px;
        }
    }
    .cart.table-wrapper {
        margin-bottom: 0;
        @include breakpoint('mobile') {
            border-top: 0;
            margin-bottom: 0;
        }
    }
    .cart-container .cart.table tbody {
        border-color: $border-color-1;
        @include breakpoint('mobile') {
            display: flex;
        }
        &:first-child {
            border-top: 1px solid $border-color-1;
        }
        .product-image-container {
            max-width: 145px;
            @include breakpoint('mobile') {
                max-width: 110px;
                width: 100% !important;
            }
        }
        tr td {
            padding-top: 20px;
            padding-bottom: 20px;
            align-items: flex-start !important;
            vertical-align: top;
            @include breakpoint('mobile') {
                padding: 15px 0;
                &:before {
                    display: none !important;
                }
                &.qty {
                    width: auto;
                    float: none;
                }
            }
            a.product-item-photo {
                padding-right: 20px;
                position: relative;
                top: auto;
                left: auto;
                @include breakpoint('mobile') {
                    padding-right: 15px;
                }
            }
            .product-item-details .product-item-name {
                font-size: 16px;
                text-transform: initial;
                font-weight: 500;
                margin: 0;
                @include breakpoint('mobile') {
                    font-size: 14px;
                }
            }
            .item-options {
                margin-top: 1em;
                margin-bottom: 1em;
                font-size: 16px;
                @include breakpoint('mobile') {
                    font-size: 14px;
                }
            }
            dt {
                font-weight: 500;
                float: left;
                margin: 0;
                &:after {
                    content: ':';
                    padding-right: 4px;
                }
            }
            dd {
                margin: 0;
            }
            &.item-img {
                width: 1%;
                white-space: nowrap;
                padding-right: 0;
                @include breakpoint('mobile') {
                    width: auto;
                    order: 0;
                }
                @include breakpoint('(max-width: 320px)') {
                    flex-basis: 40%;
                }
            }
            &.item-desc {
                padding-left: 0;
                @include breakpoint('mobile') {
                    order: 0;
                    padding-bottom: 60px;
                    max-width: 145px;
                }
            }
            .field.qty {
                text-align: center;
                @include breakpoint('mobile') {
                    order: 2;
                    position: absolute;
                    bottom: 0;
                    left: 125px;
                    float: none;
                    width: auto;
                    margin-bottom: 15px;
                    label {
                        margin-bottom: 0;
                    }
                }
                @include breakpoint('(max-width: 320px)') {
                    left: 40%;
                }
                label {
                    overflow: hidden;
                }
                .input-number-decrement,
                .input-number-increment,
                input.qty {
                    width: 53px;
                    height: 53px;
                    border: 1px solid $border-color-1;
                    float: right;
                    @include breakpoint('small') {
                        width: 45px;
                        height: 45px;
                    }
                    @include breakpoint('mobile') {
                        width: 40px;
                        height: 40px;
                    }
                }
                input.qty {
                    border-left: 0;
                    border-right: 0;
                    margin-top: 0;
                    text-align: center;
                    @include breakpoint('small') {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                .input-number-decrement,
                .input-number-increment {
                    font-size: 26px;
                    color: $gray;
                    cursor: pointer;
                    line-height: 52px;
                    @include breakpoint('small') {
                        line-height: 44px;
                    }
                    @include breakpoint('mobile') {
                        line-height: 39px;
                    }
                }
                @include breakpoint('mobile') {
                    .field.qty,
                    .field label {
                        margin-bottom: 0;
                    }
                }
            }
            &.price {
                position: relative;
                @include breakpoint('mobile') {
                    order: 1;
                    width: 1%;
                    margin-left: auto;
                    .actions-toolbar {
                        min-height: 0;
                        position: static;
                    }
                }
            }
            .actions-toolbar {
                text-align: right;
                padding-bottom: 0;
                .action-edit {
                    color: $black;
                    &:before {
                        display: none;
                    }
                    span {
                        font-size: 16px;
                        text-decoration: underline;
                        height: auto;
                        margin: 0;
                        position: static;
                        width: auto;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .action-delete {
                    margin-left: 40px;
                    @include breakpoint('mobile') {
                        margin-left: 0;
                        position: absolute;
                        top: 15px;
                        right: 0;
                    }
                    &:before {
                        content: url('../images/cross.svg');
                        vertical-align: middle;
                        font-family: none;
                    }
                    span {
                        display: none;
                    }
                }
                .action-delete,
                .action-edit {
                    position: relative;
                    right: auto;
                    margin-right: 0;
                }
            }
            &:first-child {
                padding-left: 20px;
                @include breakpoint('mobile') {
                    padding-left: 0;
                }
            }
            &:last-child {
                padding-right: 20px;
                @include breakpoint('mobile') {
                    padding-right: 0;
                }
            }
            .subtotal-container {
                text-align: right;
                position: relative;
                top: 95px;
                @include breakpoint('mobile') {
                    right: 0;
                    bottom: 15px;
                }
                .price {
                    font-weight: 500;
                    @include breakpoint('mobile') {
                        font-size: 14px;
                    }
                }
            }
        }
        @include breakpoint('mobile') {
            tr {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
            }
            .product-item-photo {
                max-width: 100% !important;
            }
        }
    }
    .totals-tax-details {
        display: none !important;
    }
    .billmate-cart-summary {
        width: 45%;
        float: right;
        padding: 0 20px 15px;
        margin-bottom: 0;
        background-color: $white;
        top: auto !important;
        position: static;
        @include breakpoint('mobile') {
            float: none;
            width: 100%;
            padding: 10px 0 0 0;
            margin: 0;
            order: 10;
        }
        .cart-totals {
            border-top: 0;
            padding-top: 0;
            @include breakpoint('mobile') {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .data.totals {
            border: 0;
            width: 100%;
            th {
                font-size: 16px;
                padding: 7px 0;
                font-weight: 400;
                text-transform: initial;
                @include breakpoint('mobile') {
                    font-weight: 500;
                    font-size: 14px;
                }
                & > span:last-child,
                & > strong:last-child {
                    &:after {
                        content: ':';
                    }
                }
            }
            td {
                font-size: 18px;
                text-align: right;
                padding-right: 0;
                @include breakpoint('mobile') {
                    font-size: 14px;
                }
            }
            .amount,
            strong {
                font-weight: 500;
            }
            .grand.totals {
                font-size: 18px;
                @include breakpoint('(max-width: 1060px)') {
                    right: 45px;
                    width: calc(45% - 60px);
                }
                @include breakpoint('small') {
                    right: 20px;
                    width: calc(45% - 40px);
                }
                @include breakpoint('mobile') {
                    font-size: 16px;
                    width: 100%;
                    right: auto;
                    bottom: auto;
                    position: relative;
                    border-top: 1px solid $border-color-1;
                    border-bottom: 1px solid $border-color-1;
                    margin-top: 10px;
                    padding: 5px 0;
                }
                th {
                    font-size: 18px;
                    padding: 7px 0;
                    strong {
                        padding: 0;
                    }
                    @include breakpoint('mobile') {
                        font-size: 16px;
                    }
                }
                td {
                    padding: 5px 0;
                    @include breakpoint('mobile') {
                        padding-right: 0;
                        font-size: 16px;
                    }
                }
                th, td {
                    border: 0;
                }
            }
            @include breakpoint('mobile') {
                tr {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        .checkout-methods-items {
            padding: 0;
            margin: 0;
        }
    }
    .cart-discount {
        float: left;
        width: 50%;
        padding: 5px 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        @include breakpoint('mobile') {
            float: none;
            width: 100%;
            padding: 10px 0 5px;
            margin-left: 0;
            border-bottom: 0;
        }
        .block.discount {
            width: 100%;
            .content {
                padding-bottom: 0;
                @include breakpoint('mobile') {
                    padding: 0;
                }
            }
            .title {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding-bottom: 0;
                @include breakpoint('mobile') {
                    border-top: 0;
                    padding: 0;
                }
                span {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                    padding-bottom: 0 !important;
                    padding-left: 10px;
                    height: auto;
                    width: auto;
                    position: static;
                    @include breakpoint('mobile') {
                        font-size: 14px !important;
                    }
                }
                &:after {
                    display: none;
                }
            }
            &:not(.active) {
                .content {
                    display: none !important;
                }
            }
            &.active {
                padding-bottom: 10px;
                .title [type="checkbox"]:after {
                    content: url('../images/checked.svg');
                    display: block;
                    margin-top: -1px;
                    margin-left: -1px;
                }
            }
            [name="coupon_code"] {
                max-width: 400px;
            }
        }
        .field {
            display: block;
        }
        .fieldset.coupon {
            padding-top: 20px;
            margin-bottom: 0;
        }
    }
    .billmate-newsletter {
        float: left;
        padding: 0 20px 25px;
        @include breakpoint('mobile') {
            float: none;
            width: 100%;
            padding: 0 0 15px;
            border-bottom: 1px solid $border-color-1
        }
        .wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            label {
                font-size: 16px;
                padding-left: 10px;
                @include breakpoint('mobile') {
                    font-size: 14px;
                }
            }
        }
    }
    .block.crosssell {
        padding: 0;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        float: none;
        @include breakpoint('mobile') {
            border-radius: 0;
            margin-top: 0;
        }
        .block-title {
            strong {
                font-weight: 700
            }
        }
        .product-item-info {
            width: 100%;
            &:hover {
                box-shadow: none;
                margin: 0;
                padding: 0;
                border: 0
            }
        }
        .crosssell-wrapper {
            @include elementPadding(-20, true, -20, true);
            max-width: $max-width;
            margin: 0 auto;
            @include breakpoint('(min-width: 1024px) and (max-width: 1060px)') {
                padding: 45px !important;
            }
            @include breakpoint('small') {
                padding: 40px 20px !important;
            }
            @include breakpoint('mobile') {
                padding: 0 15px !important;
            }
            .products.wrapper {
                margin-bottom: 0;
            }
            ol.product-items {
                margin-left: -10px;
                margin-right: -10px;
                margin-bottom: 0;
                overflow: visible;
                @include breakpoint('tablet-down') {
                    margin-left: 0;
                    margin-right: 0;
                }
                @include breakpoint('mobile') {
                    margin-bottom: 0;
                }
            }
            li.product-item {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 0;
                @include breakpoint('mobile') {
                    margin-bottom: 0;
                }
                .product-item-name {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    line-height: 25px;
                    max-height: 25px;
                    overflow: hidden;
                    display: block;
                    @include breakpoint('mobile') {
                        font-size: 14px;
                        line-height: 18px;
                        max-height: 18px;
                    }
                }
                .price-label,
                .price-to {
                    display: none !important;
                }
            }
        }
        button.primary {
            font-size: 16px;
            font-weight: 700;
            max-width: 100%;
            @include breakpoint('mobile') {
                font-size: 16px;
            }
        }
        .price {
            font-size: 18px;
            font-weight: 500;
            @include breakpoint('mobile') {
                font-size: 16px;
            }
        }
        .old-price .price {
            font-size: 18px !important;
            color: $gray-1 !important;
            font-weight: 400;
        }
        .minimal-price {
            margin-bottom: 0;
        }
        .price-box {
            margin-bottom: 15px;
            .price-box {
                margin-bottom: 0;
            }
        }
        .old-price,
        .special-price {
            position: relative;
            top: auto;
            right: auto;
        }
        .slick-arrow {
            height: auto;
            border-radius: 0;
            padding: 0;
            width: auto;
            transform: translate(0, -250%);
            opacity: 1;
            transition: opacity ease-out 300ms;
            @include breakpoint('mobile') {
                display: none !important;
            }
            &:before {
                display: none;
            }
            &:after {
                position: relative;
                content: url('../images/caret-right-dark.svg');
                opacity: 1;
                line-height: initial;
                left: 0;
                right: 0;
                transition: left ease-out 150ms;
            }
            &:hover:after {
                left: 4px;
            }
            &.slick-next {
                right: -35px;
                @include breakpoint('(min-width: 1025px) and (max-width: 1060px)') {
                    right: -20px;
                }
                @include breakpoint('small') {
                    right: -25px;
                }
                @include breakpoint('tablet-down') {
                    right: -15px;
                }
            }
            &.slick-prev {
                left: -35px;
                transform: translate(0, -250%) scaleX(-1);
                @include breakpoint('(min-width: 1025px) and (max-width: 1060px)') {
                    left: -20px;
                }
                @include breakpoint('small') {
                    left: -25px;
                }
                @include breakpoint('tablet-down') {
                    left: -15px;
                }
                &:hover:after {
                    left: 4px;
                    right: auto;
                }
            }
            &.slick-disabled {
                opacity: 0;
                cursor: initial;
            }
        }
        @include breakpoint('mobile') {
            .slick-list {
                overflow: visible;
            }
        }
    }
    .block.shipping {
        .fieldset {
            margin-bottom: 0;
        }
        .items {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .item-options {
            margin-left: 0;
            margin-bottom: 0;
            padding: 20px;
            border-top: 1px solid $border-color-1;
            @include breakpoint('mobile') {
                padding: 15px 0;
            }
            &:last-child {
                border-bottom: 1px solid $border-color-1;
            }
            .choice {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .choice,
            .label {
                margin-right: 0;
                margin-bottom: 0;
            }
            .label {
                font-size: 16px;
                margin-left: 20px;
                font-weight: 500;
                @include breakpoint('mobile') {
                    margin-left: 10px;
                }
            }
            .price-wrapper {
                font-size: 16px;
                flex: 1;
                text-align: right;
                font-weight: 500;
                @include breakpoint('mobile') {
                    font-size: 14px;
                }
            }
            .radio {
                top: -1px;
            }
        }
    }
}