<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="nwt_billmate" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Billmate Checkout by Nordic Web Team</label>
                <field id="enabled" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="testmode" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="terms_url" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Absolute URL of Terms and Conditions</label>
                </field>
                <field id="privacy_policy_url" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Absolute URL of Privacy Policy</label>
                </field>
                <field id="company_view" translate="label" type="select" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable company view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="phone_on_delivery" translate="label" type="select" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Request alternative phone number for delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_country" translate="label comment" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default country</label>
                    <comment>For shipping calculation</comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="default_postcode" translate="label comment" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default postcode</label>
                    <comment>For shipping calculation</comment>
                </field>
                <field id="default_shippingmethod" translate="label comment" type="select" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default shipping method</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="layout_type" translate="label comment" type="select" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Billmate\NwtBillmateCheckout\Model\Config\Source\LayoutTypes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
