// - - - - - - - - - - - - - - - - - - -
// - - breakpoint


@mixin breakpoint($size) {
  // - - Default Variables
  $desktop: "(min-width: 1025px)";
  $tablet: "(min-width: 768px) and (max-width: 1024px)";
  $tablet-down: "(max-width: 1024px)";
  $mobile: "(max-width: 767px)";
  $large: "(min-width: 768px)";
  $small: "(max-width: 1024px)";

  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == tablet-down {
    @media only screen and #{$tablet-down} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else if $size == large {
    @media only screen and #{$large} {
      @content;
    }
  } @else if $size == small {
    @media only screen and #{$small} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}